<div>
  <div class="page-wrapper">
    <div class="page p1">
      <span>Luca Lambiase</span><br/><br/>
      <span>Consulente Informatico</span><br/><br/>
      <span>Professionista esperto nel settore dell'informatica aziendale che fornisce consigli
        a un'impresa su come utilizzare al meglio le tecnologie dell'informazione (ICT)
        al fine di raggiungere determinati scopi o obiettivi aziendali.
        Oltre alla mera consulenza il professionista, il più delle volte, progetta, implementa e
        amministra il sistema informatico (sistemista) oppure si adopera nello sviluppo software
        (analista funzionale, analista programmatore, programmatore e tester).</span><br/><br/>
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span><br/><br/>
      <div class="tile-wrapper">
        <app-tile icon="vcard" name="Scheda Rubrica" link="xxx" text="Salva VCard"></app-tile>
        <app-tile icon="phone" name="Telefono" link="tel:+393288626419" text="+39 328 86 26 419"></app-tile>
        <app-tile icon="whatsapp" name="Whatsapp" link="xxx" text="+39 328 86 26 419"></app-tile>
        <app-tile icon="linkedin" name="LinkedIn" link="xxx" text="/lambia"></app-tile>
        <app-tile icon="github" name="GitHub" link="xxx" text="/lambia"></app-tile>
        <app-tile icon="telegram" name="Telegram" link="xxx" text="@lambia"></app-tile>
        <app-tile icon="email" name="Email" link="mailto:luca@lambia.it" text="luca@lambia.it"></app-tile>
        <app-tile icon="skype" name="Skype" link="callto:" text="luca.lambia"></app-tile>
        <app-tile icon="discord" name="Discord" link="" text="@lambia"></app-tile>
        <app-tile icon="steam" name="Steam" link="" text="@lambia"></app-tile>
      </div>

    </div>
    <div class="page p2">matrice</div>
  </div>

  <!-- <h1>{{title}}</h1> -->
  <!-- <app-matrix></app-matrix> -->
</div>