<div id="wrapper">

<!-- ToDo: aggiungere classe selected -->

    <h4>Categories</h4>
    <span (click)="onFilter('category')">ALL</span>
    <span *ngFor="let category of datasources.category" (click)="onFilter('category', category)">
        {{category}}&nbsp;
    </span>

    <h4>Countries</h4>
    <span (click)="onFilter('country')">ALL</span>
    <span *ngFor="let country of datasources.country" (click)="onFilter('country', country)">
        {{country}}&nbsp;
    </span>

    <br/>
    <br/>
    <br/>

    <ng-container *ngFor="let stamp of filteredStamps">
        <div class="stamp" *ngIf="stamp.visible">
            <span>{{stamp.title}}</span>
        </div>
    </ng-container>
</div>