<style>
    .selected {
        color: red;
        font-weight: 800;
    }
</style>

<div id="wrapper">

<!-- ToDo: aggiungere classe selected -->

    <div *ngFor="let index of storeIndex">
        <h4>{{index}}</h4>
        <span [className]="category.selected?'selected':''" *ngFor="let category of filteredStore[index]" (click)="onNewFilter(index, category.id)">
            {{category.id}}.{{category.name}}&nbsp;
        </span>
    </div>

    <br/><hr><br/>

    <h4>Categories</h4>
    <span (click)="onFilter('category')">ALL</span>
    <span *ngFor="let category of datasources.category" (click)="onFilter('category', category)">
        {{category}}&nbsp;
    </span>

    <h4>Countries</h4>
    <span (click)="onFilter('country')">ALL</span>
    <span *ngFor="let country of datasources.country" (click)="onFilter('country', country)">
        {{country}}&nbsp;
    </span>

    <br/>
    <br/>
    <br/>

    <ng-container *ngFor="let stamp of filteredStamps">
        <div class="stamp" *ngIf="stamp.visible">
            <span>{{stamp.title}}</span>
        </div>
    </ng-container>
</div>